@charset "utf-8";
.left-pic{
	width: 25%;
	position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 45px;
    z-index: 20;
    /*display: none;*/
	
}
.left-pic .l-picture{
	position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    background-position: center left;
    background-size: cover;
 
}
.left-pic .l-picture img{
	max-width: 100%;
	min-width: 100%;
	height: 100%;
	min-height: 100%;
	z-index: 2;
}
.left-pic .des{
	position: absolute;
    bottom: 0;
    padding: 30px;
    color: white;
    text-shadow: -1px 0 0 rgba(0,0,0,0.75);
    z-index: 999;
}
.left-pic .des h1{
	font-size: 38.5px;
	line-height: 40px;
	margin: 10px 0;
	font-weight: bold;
}
.left-pic .des h3{
	font-size: 24.5px;
	line-height: 40px;
	margin: 10px 0;
	margin: 10px 0;
	font-weight: bold;
}
.left-pic .des p{
	margin: 0 0 10px;
	text-shadow: none;
}
.left-pic .des .btn{
	width: 150px;
	height: 40px;
	display: block;
    font-size: 16px;
    color: white;
    border-color: #49be38;
    background: #49be38;
    border-radius: 4px;
    box-shadow: none;
    line-height: 40px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    text-shadow: none;
}

.left-pic .des .bi{
	background-position: -104px -20px;;
    background-image:url(../img/pintu.png);
    background-repeat: no-repeat;
    background-size: 250px;
}
.left-pic .btn:hover{
	border-color: #6bd95b;
    background-color: #6bd95b;
}

/*	右下角i图标	*/
.left-pic .info-img{
	position: absolute;
    right: 0;
    bottom: 0;
    padding: 0;
    text-align: right;
    color: red;
    z-index: 99999999;
}
.left-pic .info-img .icon-i{
	position: relative;
    width: 18px;
    height: 18px;
    display: inline-block;
    margin: 0 10px 10px 0;
    background: black;
    border-radius: 50%;
    color: #d5d5d5;
    font-size: 12px;
    line-height: 19px;
    text-align: center;
    z-index: 9999999999999999999999;
}
.left-pic .info-img .info{
	position: absolute;
    bottom: 10px;
    right: 15px;
    width: 0;
    padding: 4px 0 4px;
    overflow: hidden;
    background: black;
    border-radius: 10px;
    line-height: 10px;
    text-align: center;
    font-size: 10px;
    font-style: italic;
    color: #b1b1b1;
    white-space: nowrap;
}
.left-pic .info-img:hover .info{
	width: auto;
    padding: 4px 14px 4px 12px;
}
.left-pic .info-img .info a{
	color: #d5d5d5;
    font-style: normal;
}











