<!DOCTYPE html>
<html ng-app="jianshu">

	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

		<title>首页 - 简书</title>
		<link rel="icon" href="img/favicon.ico">
		<link rel="stylesheet" type="text/css" href="css/iconfont.css" />
		<link rel="stylesheet" type="text/css" href="css/left-navbar.css" />
		<link rel="stylesheet" href="css/leftPicture.css" />
		<link rel="stylesheet" href="css/footer.css" />
		<link rel="stylesheet" type="text/css" href="css/style.css" />
		<script src="js/jquery-3.1.0.min.js"></script>
		<script src="js/index.js"></script>
		<script src="js/login.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/angular.min.js"></script>
		<script src="js/angular-route.min.js"></script>
		<script src="controller/list.js"></script>
	</head>

	<body>

		<!--右侧登录注册导航-->
		<div class="navbar-user">
			<a class="login" href="html/login.html">
				<!--此处需要字体图标-->
				<i class="iconfont icon-register">&#xe70e;</i> 注册
			</a>
			<a class="login" href="html/login.html">
				<!--此处需要字体图标-->
				<i class="iconfont icon-login">&#xe7dd;</i> 登录
			</a>
		</div>

		<!--小屏部分的头部登录等-->
		<div class="s-navbar-user">
			<div class="s-left">
				<a id="jian" class="s-jian" href="javascript:void(0)">简</a>
				<ul id="jian-list" class="s-jian-list">
					<li>
						<a href="index.html">
							<!--此处需要字体图标-->
							<i class="iconfont icon-home">&#xe705;</i>
							<span>首页</span>
						</a>
						<a href="javascript:void(0)">
							<!--此处需要字体图标-->
							<i class="iconfont icon-zt">&#xf000b;</i>
							<span>专题</span>
						</a>

					</li>
				</ul>
			
			</div>

			<div class="s-right">
				<a class="s-appDownload" href="javascript:void(0)">App下载</a>
				<a class="login" href="javascript:void(0)">
					<!--此处需要字体图标-->
					<i class="iconfont icon-register">&#xe70e;</i> 注册
				</a>
				<a class="login" href="html/login.html">
					<!--此处需要字体图标-->
					<i class="iconfont icon-login">&#xe7dd;</i> 登录
				</a>
				<a class="login" href="javascript:void(0)">
					<!--此处需要字体图标-->
					<i class="iconfont icon-login icon-yue">&#xe667;</i>
				</a>

			</div>
		</div>

		<!--左侧导航条-->
		<div class="left-navbar">
			<div class="ln-top">
				<a href="index.html" class="active">
					<b>简</b>
				</a>
				<a href="javascript:void(0)">
					<!--此处需要字体图标-->
					<i class="iconfont">&#xf000b;</i>
					<div class="zt">
						<span class="sanjiao"></span>
						<span class="zhuanti">专题</span>
					</div>
				</a>
				<a href="javascript:void(0)">
					<!--此处需要字体图标-->
					<i class="iconfont">&#xe65b;</i>
					<div class="jian">
						<span class="sanjiao"></span>
						<div class="jian-h">
							<img class="jian-p" src="img/jian.png" />
							<p class="title">简书</p>
							<p>交流故事，沟通想法</p>
							<img class="jian-er" src="img/jian-er.png" />
							<div class="jian-dow">

								<!--换成a标签莫名bug-->
								<b>iOS</b>
								<span>·</span>
								<b>Android</b>
							</div>
						</div>

					</div>
				</a>
			</div>

			<!--下边-->
			<div class="ln-bottom">
				<a href="javascript:void(0)">
					<!--此处需要字体图标-->
					<i class="iconfont">&#xe64b;</i>
				</a>
				<a href="html/login.html">
					<!--此处需要字体图标-->
					<i class="iconfont">&#xe7dd;</i>
				</a>
			</div>
		</div>

		<div ng-controller="jsCtrl" class="box">
			<!--左侧展示图-->
			<div class="left-pic">
				<div class="l-picture">
					<img src="img/shouye.jpg" alt="/" />
				</div>

				<div class="des">
					<h1>简书</h1>
					<h3>交流故事，沟通想法</h3>
					<p>一个基于内容分享的社区</p>
					<a class="btn bi" href="javascript:void(0)"> 提笔写篇文章</a>
				</div>
				<!--右下角i图标-->
				<div class="info-img">
					<!--此处需要字体图标-->
					<i class="iconfont icon-i">&#x3599;</i>
					<div class="info">
						<span>photo by </span>
						<a href="javascript:void(0)">linlis</a>

					</div>
				</div>
			</div>

			<!--右侧内容部分-->
			<div class="content clear">
				<div class="clear"></div>
				<div class="page-title">
					<div class="clear"></div>
					<ul class="nav">

						<li class="active">
							<a id="find-f" href="javascript:void(0)">发现</a>
						</li>
						<li class="find">
							<a href="html/2015jingxuan.html">2015精选</a>
						</li>
						<li class="search">
							<form action="/" method="post">
								<input type="text" name="search" id="search" placeholder="搜索" />
								<span class="search-icon">
<!--此处需要字体图标-->								
								<i class="iconfont">&#xe60c;</i>
							</span>
							</form>

						</li>
					</ul>
				</div>
				<div class="clear"></div>

				<div class="list-container clear">
					<div class="clear"></div>
					<!--title标签-->
					<ul class="list-title clear">
						<li  ng-click="changeUrl('hot')" class="active">
							<a id="hot" href="javascript:void(0)">热门</a>
						</li>
						<li ng-click="changeUrl('nowNews')">
							<a href="javascript:void(0)">时事新闻</a>
						</li>
						<li ng-click="changeUrl('novels')">
							<a href="javascript:void(0)">小说精选</a>
						</li>
						<li ng-click="changeUrl('photograph')">
							<a href="javascript:void(0)">摄影手记</a>
						</li>
						<li>
							<a href="javascript:void(0)">漫画手绘</a>
						</li>
						<li>
							<a href="javascript:void(0)">签约作者</a>
						</li>
						<li>
							<a href="javascript:void(0)">新上榜</a>
						</li>
						<li>
							<a href="javascript:void(0)">七日热门</a>
						</li>
						<li>
							<a href="javascript:void(0)">三十日热门</a>
						</li>
						<li>
							<a href="javascript:void(0)">日报</a>
						</li>
						<li>
							<a href="javascript:void(0)">专题精选</a>
						</li>
						<li>
							<a href="javascript:void(0)">有奖活动</a>
						</li>
						<li>
							<a href="javascript:void(0)">简书出版</a>
						</li>
						<li>
							<a href="javascript:void(0)">简书播客</a>
						</li>
					</ul>
					<!--文章标题部分-->

					<ul ng-include="url"  id="list-article" class="list-article clear">
						
					</ul>
						


					<div class="load-more">
						<button>
							<span>点击查看更多</span>
						</button>
					</div>

				</div>

			</div>

		</div>

		<!--footer-->
		<footer>
			<div class="footer-l">
				<p>
					<a href="http://www.jianshu.com/collection/jppzD2" target="_blank">关于简书</a> |
					<a target="_blank" href="javascript:void(0)">联系我们</a> |
					<a href="http://www.jianshu.com/collection/fc488cd78374" target="_blank">作者成书计划</a> |
					<a href="http://www.jianshu.com/notebooks/547/latest" target="_blank">帮助中心</a> |
					<a href="http://jianshucom.taobao.com/" target="_blank">简书周边</a> |
					<a href="http://www.jianshu.com/p/cabc8fa39830">合作伙伴</a> |
				</p>
				<p>©2012-2016
					<a href="/" target="_blank">简书</a> / 沪ICP备11018329号-5 /
					<a target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=31010602000064">
						<img style="width: 18px; height: 18px" src="img/beianbgs-8077429238867bbe0d8c66a2a3c298af.png" alt="Beianbgs"> 沪公网安备31010602000064号
					</a>
					<a href="http://v.pinpaibao.com.cn/authenticate/cert/?site=www.jianshu.com&amp;at=realname" target="_blank">
						<img src="img/sm_83x30.png" alt="安全联盟认证" width="83" height="30" style="border: none;">
					</a>
				</p>
			</div>

			<div class="footer-r">
				<div class="app-download-btn">
					<a href="javascript:void(0)">
						<img src="img/ios-bf05821ad054ccfb594fcc43a92a3753.png" alt="Ios">
					</a>
					<a href="javascript:void(0)">
						<img src="img/android-63f9ad04e8805deae8d8e93ee45c5a2d.png" alt="Android">
					</a>
				</div>
				<div>
					关注我们:
					<a href="http://weibo.com/jianshuio" target="_blank">
						<!--此处需要字体图标-->
						<i class="iconfont icon-weibo">&#xe661;</i>
					</a>
					<a class="weixin" href="javascript:void(0)" data-toggle="modal">
						<!--此处需要字体图标-->
						<i class="iconfont icon-weixin">&#x3488;</i>
					</a>
					<a href="https://twitter.com/jianshucom" target="_blank">
						<!--此处需要字体图标-->
						<i class="iconfont icon-twitter">&#xe609;</i>
					</a>
				</div>
			</div>

		</footer>
	
	</body>

	<!--文章标题列表中app下载部分关于屏幕的调整-->
	<script src="js/guide-wrap.js"></script>

</html>